<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    

  </head>
  <body>
    
     <div id="leaders" align="center">
        <% for(var i=0; i<memberData.length;i++){ %>
        <header class="user-object" align="center">
            <p class="user-name"><%= (i + 1).toLocaleString() %>. <%= memberData[i].tag %>:</p>
            <p class="user-rank">MSGs: <%= memberData[i].balance %></p>
            <img class="user-avatar" style="opacity: 1;" src="<%= memberData[i].avatar%>">
        
        </header>
        <% } %>
    
  </body>
</html>
